<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Room</th>
      <th>Starters</th>
      <th>Main_Course</th>
      <th>Drinks</th>
      <th>Dessert</th>
      <th>Dinner</th>
      <th>Delivery_Post</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>test1</td>
      <td>RAVIOLI</td>
      <td>SCANDINAVIAN STEAK AND POTATOES</td>
      <td>DUIS PHARETRA LIGULATEMPUS ALIQUET</td>
      <td>SBRISALONA</td>
      <td>TEMPOR MALESUADA</td>
      <td>Room</td>
    </tr>
  </tbody>
</table>