<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="static/css/maintain.css" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <span class="big-circle"></span>
      <img src="/static/images/img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
            Hello, my name is Inigo Montoya. You killed my father. Prepare to die.
            Haaaa...It’s just a flesh wound. McLovin? What kind of stupid name is that, Fogell? What, are you trying to be an Irish R&B singer?
          </p>

          <div class="info">
            <div class="information">
              <img src="/static/images/img/location.png" class="icon" alt="" />
              <p>92 Cherry Drive Uniondale, NY 11553</p>
            </div>
            <div class="information">
              <img src="/static/images/img/email.png" class="icon" alt="" />
              <p>big@chungus.com</p>
            </div>
            <div class="information">
              <img src="/static/images/img/phone.png" class="icon" alt="" />
              <p>123-456-789</p>
            </div>
          </div>

          <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="/managing" autocomplete="off" method="POST">
            <h3 class="title">Feedback to Management</h3>
            <div class="input-container">
              <input type="text" name="room" class="input" />
              <label for="">Room ID</label>
              <span>Room ID</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="text" name="request" class="input" />
              <label for="">Request</label>
              <span>Request</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">Details of the request</label>
              <span>Details of the request</span>
            </div>
            <input type="submit" value="Send" class="btn" />
          </form>
        </div>
      </div>
    </div>

    <script src="/static/js/maintain.js"></script>
  </body>
</html>
